table, th, td{
    border: 2px solid #000000;
}

table{
    width: 50%;
    padding: 10px;
}

th{ 
    background-color: #3978ff;
}

td{ 
    background-color: #6fadff8c;
}

.testeMargin{
    margin: 10px 20px;
}

.testePadding{
    padding: 20px 20px 20px 20px;
}

.testePadding2{
    padding: 30px;
}

.testePadding3{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
}